<div class="container">
  <div class="title">login</div>

  <div class="description accent">Enter your email and password to login</div>

  <form [formGroup]="form" class="form">
    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input type="email" matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>password</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" (click)="login()" [disabled]="form.invalid || loading"
      [disabled]="form.invalid">
      <span *ngIf="!loading"> login</span>
      <app-loading color="white" *ngIf="loading"></app-loading>
    </button>
  </form>
  <div class="section">
    <span class="accent"> Not registed yet</span>
    <button mat-button color="primary">register</button>
  </div>
</div>
