.mat-card {
  border-radius: 10px;
  margin: 10px;
  text-align: center;
    i {
      font-size: 5rem;
    }

    .text {
      font-size: 1rem;
      font-weight: bold;
      line-height: normal;
  }
}
