<div class="container">
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <button mat-flat-button color="primary">
      <span>book manager</span>
    </button>
    <button mat-flat-button color="primary" (click)="redirect('/books')">books</button>
    <button mat-flat-button color="primary" (click)="redirect('/auth/login')" *ngIf="!user">login</button>
    <button mat-flat-button color="primary" (click)="redirect('/books/admin')" *ngIf="user">admin</button>
    <span class="example-spacer"></span>
    <div class="user" *ngIf="user">
      <button mat-icon-button [matMenuTriggerFor]="menu" color="white">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
